* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100%;
  max-width: 100%;
}

body {
  background-image: url('images/background.png');
  display: flex;
  justify-content: center;
  width: 100%;
}

.main {
  width: 80%;
  background-color: #000;
  border: 8px #FFF solid;
  margin: 100px 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 2% 0;
  font-family: "Kiwi Maru", serif;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 30%;
  height: max-content;
  border: 1px #444343 solid;
  border-radius: 3%;
  margin: 1%;
  padding-top: 2%;
  padding-bottom: 2%;
}

.card__image-container {
  position: relative;
  min-height: 310px;
  width: 85%;
}

.card__image{
  width: 100%;
  border-radius: 3%;
  color: #FFF;
  position: absolute;
  min-height: 310px;
}

.image__radio-container {
  display: flex;
  min-width: 100px;
  height: 30px;
  z-index: 2;
  position: absolute;
  left: 50%;
  bottom: 5%;
  transform: translateX(-50%);
  justify-content: center;
}

.radio-button {
  width: 18px;
  margin: 0 10px;
}

.card__product {
  width: 80%;
  color: #FFF;
  margin-top: 10%;
  line-height: 250%;
}

.card__button {
  position: absolute;
  bottom: 4%;
  right: 10%;
  background-color: #713af7;
  border: none;
  padding: 2%;
  border-radius: 15%;
  color: #FFF;
  font-size: 15px;
  font-family: "Kiwi Maru", serif;
  font-weight: 500;
}

.card__button:hover, .description__button:hover {
  cursor: pointer;
  color: #F0D611;
}

.card__title {
  height: 50px;
  margin-bottom: 15px;
}

.product__title {
  font-size: 18px;
  line-height: 125%;
}

.product__description {
  display: flex;
  width: 100%;
}

.description__text {
  width: 60%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  color: #A09E9E;
  font-size: 12px;
}

.description__button {
  color: #FFF;
  background: none;
  border: none;
  font-weight: 700;
  font-family: "Kiwi Maru", serif;
}

.product__name {
  width: max-content;
  padding: 0 4%;
  border: 1px #444343 solid;
  border-radius: 30%;
  font-weight: 700;
}

.product__price {
  line-height: 150%;
  margin-top: 5%;
}

.price__text {
  font-size: 15px;
  color: #A09E9E;
}

.price__sum {
  font-size: 25px;
  font-weight: 700;
}